<html lang="zxx" class="no-js" style="display: block;">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="img/fav.png">
    <meta charset="UTF-8">
    <title>Smart Gym</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/home/css/linearicons.css">
    <link rel="stylesheet" href="/static/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/home/css/bootstrap.css">
    <link rel="stylesheet" href="/static/home/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/home/css/nice-select.css">
    <link rel="stylesheet" href="/static/home/css/animate.min.css">
    <link rel="stylesheet" href="/static/home/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/home/css/main.css">

    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/38/9/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/38/9/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/38/9/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/38/9/util.js"></script>
</head>

<body style="display: block;">

    <section class="portfolio-area section-gap" id="portfolio">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Registered Users</h1>

                    </div>
                </div>
            </div>

            <div class="filters">
                <ul>
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".student" class="">Students</li>
                    <li data-filter=".teacher" class="">Teachers</li>

                </ul>
            </div>

            <div class="filters-content">
                <div class="row grid" id="usersFound" style="position: relative; height: 206px;">
                </div>
            </div>

        </div>
    </section>

    <script src="/static/home/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/static/home/js/popper.min.js"></script>
    <script src="/static/home/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/static/home/js/easing.min.js"></script>
    <script src="/static/home/js/hoverIntent.js"></script>
    <script src="/static/home/js/superfish.min.js"></script>
    <script src="/static/home/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/home/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/home/js/jquery.tabs.min.js"></script>
    <script src="/static/home/js/jquery.nice-select.min.js"></script>
    <script src="/static/home/js/isotope.pkgd.min.js"></script>
    <script src="/static/home/js/waypoints.min.js"></script>
    <script src="/static/home/js/jquery.counterup.min.js"></script>
    <script src="/static/home/js/simple-skillbar.js"></script>
    <script src="/static/home/js/owl.carousel.min.js"></script>
    <script src="/static/home/js/mail-script.js"></script>
    <script src="/static/home/js/main.js"></script>


	<p id="userlist" style="display: none">{{user_list}}</p>

	<script>

		var list = document.getElementById('userlist').innerHTML;
		var json = JSON.parse(list);

		for (var i in json) {
    		let name = i;
    		let profession = json[i];

    		console.log(name + " " + profession);

    		$('#usersFound').append('<div class="single-portfolio col-sm-4 all ' + profession.toString().toLowerCase() + '" style="position: absolute; left: 0%; top: 0px;">\n' +
					'<div class="p-inner">\n' +
					'<h4>' + name + '</h4>\n' +
					'<div class="cat">' + profession + '</div>\n' +
					'</div>\n' +
					'</div>');
		}

	</script>

</body>

</html>